:root{
    --pink:     #BF88BC;
    --green:    #9CA653;
    --orange:   #F2A444;
    --brown:    #8C5C4A;
    --darkBrown:#4D3229;
    --lightBrown:#D9BEB4;
    --white:    #F2F2F2;
    --black:#111111;
/* Color Theme Swatches in RGBA
.Sabor-1-rgba { color: rgba(191, 135, 187, 1); }
.Sabor-2-rgba { color: rgba(156, 165, 82, 1); }
.Sabor-3-rgba { color: rgba(242, 163, 67, 1); }
.Sabor-4-rgba { color: rgba(140, 91, 74, 1); }
.Sabor-5-rgba { color: rgba(242, 242, 242, 1); } */

}
body{
    font-size: 62.25%;
    margin: 0;
    font-family: 'Poppins', sans-serif;;
}

*{
    box-sizing: border-box;
}

h1{
    font-size: 3rem;
    margin: 0;
}
h2{
    font-size: 2.5rem;
    margin: 0;
}
h3,h4,h5,h6{
    font-size: 2rem;
}
p{
    font-size: 1.8rem;
    margin: 0;
}
ul{
    list-style: none;
}

/* navBar styles */
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem 1rem 8rem;
}
.navBar-logo{
    font-weight: 300;
    line-height: 2rem;
    height: 6rem;
    width: 7rem;
    min-width: 7rem;
    color: var(--white);
    word-wrap: break-word;
    cursor: pointer;
}
.navBar-logo span{
    font-weight: 700;
    color: var(--orange);
}
.navBar-logo span:nth-of-type(2)::before{
    content: "";
    display: block;
    position: relative;
    height: 5px;
    width: 87%;
    margin-bottom: 2px;
    margin-top: 2px;
    background-color: var(--green);
}
.navBar-logo span:nth-of-type(3){
    color: var(--white);
    font-weight: 300;
    letter-spacing: 2.6px;
}
.navList{
    display: flex;
    flex-direction: row;
}  
.navLink{
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    color: var(--orange);
    transition: color 200ms ease;
}
.navLink:hover{
    color: var(--white);
}

/* Responsive NavBar for smaller screens */
@media (max-width: 768px) {
    .navBar{
        flex-direction: column;
        padding-left: 10rem;
        width: 100%;
        max-width: 100%;
    }
    .navBar-logo{
        padding: 0;
        margin: 0;
        margin-left: 1rem;
        width: 6.5rem;
        min-width: 6.5rem;
    }
    .navBar-logo span:nth-of-type(2)::before{
        width: 95%;
    }
    .navLink{
        margin: 0;
        font-size: 1.3rem;
        margin-top: .5rem;
    }
    .navList{
        flex-direction: column;
        text-align: center;
        padding: 0;
    }
    
}

/* Main styles */
.main{
    display: flex;
    flex-direction: column;
}

/* Title */
.header{
    text-align: center;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 1)),
        url("../images/cover-image.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-title{
    color: var(--green);
    font-weight: 700;
    line-height: 3rem;
    margin: 7rem 0rem 2rem 0rem;
    text-transform: uppercase;
}
.header-subtitle{
    color: var(--orange);
    font-size: 1.4rem;
    margin-bottom: 3rem;
}

@media (max-width: 768px){
    .header-title{
        font-size: 1.8rem;
        width: 90%;
    }
    .header-subtitle{
        width: 90%;
        font-size: 0.9rem;
    }
}

/* Recommendations */
.recommendations{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--white);
    height: 30rem;
}

.recommendations-title{
    margin-top: 0rem;
    color: var(--black);
    font-weight: 500;
    letter-spacing: 1.5px;
}
.recommendations-list{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
    margin-top: -2rem;
}
.recommendations-list_item{
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url("../images/recipe-image.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: .5rem;
    width: 15rem;
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.recommendations-list_item h3{
    font-size: 1.3rem;
    text-align: center;
    line-height: .2rem;
    color: var(--white);
}
.recommendations-list_item p {
    color: var(--white);
    font-size: .7rem;
    
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 300;
}
.recommendations-list_item i{
    color: var(--white);
    width: 10%;
    position: relative;
    left: 6rem;
    transition: color ease 200ms;
}
.recommendations-list_item i:hover{
    color: var(--pink);
    cursor: pointer;
}
@media (max-width: 768px){
    .recommendations{
        height: 60rem;
    }
    .recommendations-title{
        width: 90%;
        letter-spacing: 0.01px;
        font-size: 1.9rem;
        text-align: center;
    }
    .recommendations-list{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3,1fr);
        padding: 0;
    }
}